html{ height: 100%;}
body{
    background-color: black;
    color: white;
    align-content: center;
    text-align: center;
    height: 100%;
    display: flex;
}
.container{
    background-color: blue;
    height: content;
    align-self: center;
}
.container-fluid{
    height: 40%;
}
/* .hide div{
    visibility: hidden;
} */
header{
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 6em;
    background-color: red;
}
main{
    background-color: green;
    margin-bottom: 1em;
}
#choiceSection{
    text-align: left;
}
.choice{
    width: 100%;
    padding: 1px;
}
.choice:hover{
    color: purple;
    padding: 0;
    border: solid 1px black;
}