html{ height: 100%;}
body{
    background-color: black;
    color: white;
    align-content: center;
    text-align: center;
    height: 100%;
    display: flex;
}
.container{
    background-color: blue;
    height: min-content;
    align-self: center;
}
header{
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 6em;
    background-color: red;
}
main{
    background-color: green;

}
#choiceSection{
    text-align: left;
}