html{ height: 100%;}
@font-face{
    font-family: actionMan;
    src: url("../css/fonts/Action-Man/Action_Man.ttf");
}
@font-face{
    font-family: simpsonsFont;
    src: url("../css/fonts/Simpsonfont\ DEMO.otf");
}
body{
    background: url(../images/simpsons_background.jpg);
    color: black;
    align-content: center;
    text-align: center;
    height: 100%;
    display: flex;
    font-family: actionMan, monospace;
}
.container{
    background: white;
    border: solid 1px rgb(242,88,167);
    height: 90%;
    width: 80%;
    align-self: center;
}
.hideDivs div{
    visibility: hidden;
}
img{
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}
header{
    font-family: simpsonsFont, sans-serif;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 5em;
    background-color: rgb(254,212,29);
}
main{

    background: white;
    margin-bottom: 1em;
    height: 50%;
}
p{
    font-family: actionMan, monospace;
    font-size: 20px;
}
#question{
    /* font-family: simpsonsFont, sans-serif; */
    font-weight: bold;
}
#timerSection{
    font-family: monospace;
}
#choiceSection{
    text-align: left;
    text-indent: 1em;
}
#bottomRow{
    height: 50%;
}

.choice{
    width: 100%;
    padding: 1px;
}
.choice:hover{
    background-color: rgb(254,212,29);
    padding: 0;
    border: solid 1px rgb(242,88,167);
    cursor: pointer;
}
.btn, .btn:focus{
    font-family: simpsonsFont, sans-serif;
    background-color: rgb(242,88,167);
    border-color: rgb(242,88,167);
    color: white;
    margin-left: auto;
    margin-right: auto;
    
}

.btn:hover{
    font-family: simpsonsFont, sans-serif;
    background-color: white;
    border-color: rgb(242,88,167);
    color: rgb(242,88,167);   
    box-shadow: none;
}